@keyframes slideMoveHorizontal{
    0%{
        transform: translateX(0%);
    }
    16.666%{
        transform:translateX(-16.666%)
    }
    33.333%{
        transform:translateX(-33.333%)
    }
    49.6666%{
        transform:translateX(-49.666%)
    }
    65.9999%{
        transform:translateX(-65.999%)
    }
    82.3333%{
        transform:translateX(-82.333%)
    }
    100%{
        transform: translateX(0%);
        /* (100/(갯수))*(갯수-1) */
    }
}