*{margin: 0;padding: 0;}
/* html{
    font-size: 100px;
} */
#hero{
    height: 100vh;
    position: relative;
}
#hero video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.floatingBox{
    text-align: center;
    position: absolute;
    /* 띄우는 순간 암묵적으로 인라인블록 형태로 변경되어 너비와 높이를 지정할 수 있게됨, 반드시 좌표 입력할것 */
    left: 5%;
    top: 5%;
    /* 우선 50%로 설정 후 90%의 절반인 45% 차감=> calc(50% - 45%) = 5%*/
    /* 중앙배치 방법: 본인이 가지고 있던 너비&높이(ex.90%)의 반만큼 빼준다. */
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.74);
    color: #fff;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);

}
/* .floatingBox>*{
    border: 1px solid lime;
} */
.floatingBox h2{
    font-size: 10rem;
}
.floatingBox p{
    width: 50%;
    margin-top: 2rem;
}
header{
    background: orange;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
main{
    min-height: 100vh;
    margin: 0 2rem;
}
main h2{
    font-size: 2.5rem;
    padding: 1.5rem 0;
    text-align: center;
}
.stickyBox>section{
    height: calc(100vh - 100px);
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stickyBox>section>h2{
    border: 1px solid lime;
}
.stickyBox>section:nth-of-type(1){
    background: url(../imgs/braden-collum-75XHJzEIeUc-unsplash.jpg) no-repeat 50% 50% /cover;
}
.stickyBox>section:nth-of-type(2){
    background: url(../imgs/cristina-gottardi-I1Lv2yX67GI-unsplash.jpg) no-repeat 50% 50% /cover;
}
.stickyBox>section:nth-of-type(3){
    background: url(../imgs/dan-novac-1naE8177_bI-unsplash.jpg) no-repeat 50% 50% /cover;
}
.stickyBox>section:nth-of-type(4){
    background: url(../imgs/daniele-levis-pelusi-jTknOGI18us-unsplash.jpg) no-repeat 50% 50% /cover;
}